{% extends 'base.html' %}

{% block head %}
<title>Vertical Time line - Account</title>
{% endblock %}

{% block body %}

<div class="row m-5">
    <div class="col-md-12">
        <h3 class="text-center">Account page</h3>
    </div>
</div>

<div class="row m-5">
    <div class="col-md-12">

        <form method="POST" action="{{ url_for('trello.revoke') }}">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="exampleInputEmail1">Trello Authorisation Token</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="exampleInputEmail1" value="{{ model.token }}" readonly>
                </div>
                <div class="col-auto">
                    {% if model.token %}
                    <button type="submit" value="revoke" class="btn btn-outline-primary my-2 my-sm-0">Trello Revoke</button>
                    {% else %}
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ model.authorize_url }}">Trello Authorise</a>
                    {% endif%}
                </div>
            </div>
        </form>

    </div>
</div>

{% if model.token %}
<div class="row m-5">
    <div class="col-md-12">
        <h4 class="">Populate Trello Data</h3>
        <form method="POST" action="{{ url_for('trello.populate') }}">
            <div class="form-group">
                <button type="submit" value="populate" @click="submit" class="btn btn-outline-primary my-2 my-sm-0">Populate</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            {{ model.boards|length }} boards Updated on {{ model.last_updated.date() }} at {{ model.last_updated.time().strftime("%H:%M:%S") }}
        </p>
    </div>
</div>
{% endif%}

{% endblock %}