<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/style.css">

    {% block head %} {% endblock %}
</head>

<body>

    <nav id="nav-bar" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.home') }}">LOGO</a>
            <button class="navbar-toggler" v-bind:class="{ 'collapsed': collapsed }" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" v-bind:aria-expanded="collapsed" aria-label="Toggle navigation" v-on:click="toggle">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" v-bind:class="{ 'show': !collapsed }" id="navbarToggler">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('trello.timeline') }}">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('trello.account') }}">Account</a>
                    </li>
                </ul>
                <div class="form-inline">
                    {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url_for('auth.logout') }}">Logout</a>
                    {% else %}
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url_for('auth.login') }}">Login</a>
                    {% endif%}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row m-3">
            <div class="col">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        
        {% block body %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- VueJs for dynamic behaviours -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <script src="static/js/main.js"></script>

</body>

</html>