{% extends 'base.html' %}

{% block head %}
<title>Vertical Time line - Events</title>
{% endblock %}

{% block body %}

<div class="row m-5 ">
    <div class="col-md-12">
        <h3 class="text-center">Timeline Style : Demo-8</h3>
    </div>
</div>

<div class="row" id="timelineFacets-2">
    <div class="col-4">
        <div class="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" @click="toggle(groups.boards)">
                            {% raw %}{{ groups.boards.name }}{% endraw %}
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" :class="{ 'show': !groups.boards.collapsed }" class="collapse"
                    aria-labelledby="headingOne" data-parent="#timelineFacets">
                    <div class="card-body">
                        <div class="form-group">
                            <div v-for="filter in groups.boards.filters" class="form-group-item m-2">
                                <label class="form-check-label ml-3" role="button">
                                    <input class="form-check-input" type="checkbox" :value="filter.id"
                                        @change="onSelectBoard(groups.boards.selectedFilters)"
                                        v-model="groups.boards.selectedFilters" />
                                    {% raw %}{{ filter.name }}{% endraw %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" @click="toggle(groups.lists)">
                            {% raw %}{{ groups.lists.name }}{% endraw %}
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" :class="{ 'show': !groups.lists.collapsed }" class="collapse"
                    aria-labelledby="headingOne" data-parent="#timelineFacets">
                    <div class="card-body">
                        <div class="form-group">

                            <div v-for="filter in groups.lists.filters">
                                <!-- header -->
                                <div>
                                    <h6>+ {% raw %}{{ filter.name }}{% endraw %}</h6>
                                </div>
                                <!-- body -->
                                <div>
                                    <div v-for="item in filter.items" class="form-group-item m-2">
                                        <label class="form-check-label ml-3" role="button">
                                            <input class="form-check-input" type="checkbox" :value="item.id"
                                                v-model="groups.lists.selectedFilters" @change="onSelectListsLabels(item.id)"/>
                                            {% raw %}{{ item.name }}{% endraw %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" @click="toggle(groups.labels)">
                            {% raw %}{{ groups.labels.name }}{% endraw %}
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" :class="{ 'show': !groups.labels.collapsed }" class="collapse"
                    aria-labelledby="headingOne" data-parent="#timelineFacets">
                    <div class="card-body">
                        <div class="form-group">

                            <div v-for="filter in groups.labels.filters">
                                <!-- header -->
                                <div>
                                    <h6>+ {% raw %}{{ filter.name }}{% endraw %}</h6>
                                </div>
                                <!-- body -->
                                <div>
                                    <div v-for="item in filter.items" class="form-group-item m-2">
                                        <label class="form-check-label ml-3" role="button">
                                            <input class="form-check-input" type="checkbox" :value="item.id"
                                                v-model="groups.labels.selectedFilters" @change="onSelectListsLabels(item.id)"/>
                                            {% raw %}{{ item.name }}{% endraw %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-8">
        <div class="main-timeline8">
            <div v-for="item in cards" class="timeline">
                <span class="timeline-icon"></span>
                <span class="year">{% raw %}{{ item.due_formatted }}{% endraw %}</span>
                <div class="timeline-content">
                    <h3 class="title">{% raw %}{{ item.name }}{% endraw %}</h3>
                    <p class="description">
                        {% raw %}{{ item.desc }}{% endraw %}
                    </p>
                    <a :href="item.url" class="btn p-0">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}