### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv/
.aws-sam/build/
__old__code/
.vscode/.ropeproject/
.env
lib/dynamodb-repository/dynamodb_repository.egg-info/
lib/verticaltimeline-common/verticaltimeline_common.egg-info/
vertical-timeline/webapp/application.cfg
